/*Genrated via blush-script*/

*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
} 

.Navbar{
    display:flex;
    width:100vw;
    height:20vh;
    align-items:center;
    justify-content:space-between;
    padding-right:2%;
    padding-left:2%;
    background-color:rgba(12,12,12,0.95);
    color:ghostwhite;
}

.Navbar ul{
    display:flex;
    list-style-type:none;
    align-items:center;
    justify-content:space-between;
}

.Navbar ul li a{
    display: block;
    margin-right:10px;
    margin-left:10px;
    color:ghostwhite;
    text-decoration:none;
    width:auto;
    transition:0.3s;
}

.Navbar ul li a:hover{
    transition:0.3s;
    transform:scale(1.2);
}



.Hero{
    background-image: url("https://images.unsplash.com/photo-1517999144091-3d9dca6d1e43?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=282&q=80");
    height: 100vh;
    width: 100vw;
    padding:10%;
}

.Hero h1{
    color:ghostwhite;
    font-weight:300;
    font-size:3em;
}

.Hero p {
    color:ghostwhite;
    font-weight:400;
    padding:1%;
    font-size:1.3em;
}


hr{
    margin-top:1%;
    margin-bottom:1%;
    border-color:#ca3e47;
}

.Article {
    height:100vh;
    width:100vw;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 25%;
    background-color:#414141;
}

.Article .container{
    width: 100vh;
    padding:5%;
    background-color:#313131;
    box-shadow:10px 10px 10px 1px rgba(12,12,12,0.75);
    color:#f0ece2;
}
.Article .container h2{
    font-weight:300;

}
.Article .container p{
    padding-top:4%;
    font-size:1rem;
    color:#f0ece2;
}



.Footer{
    display:flex;
    width:100vw;
    height:10vh;
    align-items:center;
    justify-content:space-between;
    padding-right:2%;
    padding-left:2%;
    background-color:rgba(12,12,12,0.95);
    color:ghostwhite;
}

.Footer h3{
    font-weight:200;
}

.Footer ul{
    display:flex;
    list-style-type:none;
    align-items:center;
    justify-content:space-between;
}

.Footer ul li a{
    display: block;
    margin-right:10px;
    margin-left:10px;
    color:ghostwhite;
    text-decoration:none;
    width:auto;
    transition:0.3s;
}

.Footer ul li a:hover{
    transition:0.3s;
    transform:scale(1.2);
}

