.Footer{
    display:flex;
    width:100vw;
    height:10vh;
    align-items:center;
    justify-content:space-between;
    padding-right:2%;
    padding-left:2%;
    background-color:rgba(12,12,12,0.95);
    color:ghostwhite;
}

.Footer h3{
    font-weight:200;
}

.Footer ul{
    display:flex;
    list-style-type:none;
    align-items:center;
    justify-content:space-between;
}

.Footer ul li a{
    display: block;
    margin-right:10px;
    margin-left:10px;
    color:ghostwhite;
    text-decoration:none;
    width:auto;
    transition:0.3s;
}

.Footer ul li a:hover{
    transition:0.3s;
    transform:scale(1.2);
}
